
.NavContainer {
  margin-top: 20px;
  display: flex; 
  justify-content: space-around;
}

.NavBar {
  padding: 10px; 
  display: flex; 
  justify-content: center;
}

.LI-Logo {
  max-height: 40px;
}

.GameTitle {
  display: flex;
  justify-content: center;
  font-family: "myriad-pro";
  font-size: 65px;
  padding: 75px;
  align-self: center;
}
