@import url("https://use.typekit.net/xpg0oqc.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sidebar {
  height: 100vh;
  width: 300px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color:#37444c; 
  overflow-x: hidden;
  padding-top: 20px;
}

.Game {
  height: 100vh;
  width: 75vw;
  position: fixed;
  overflow: auto;
  left: 300px;
}

.FormSelection { 
  display: "flex"; 
  justify-content: "space-between";
}

