@import url("https://use.typekit.net/xpg0oqc.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Select {
  width: 70px;
}
.FormSelection { 
  display: "flex"; 
  justify-content: "space-between";
}

.InputAddOn {
  display: flex;
}

.InputAddOn-field {
  flex: 1;
  padding: .5rem;
  border: 1px solid #d4d4d4;
  border-right: 0;
  width: 275px;
  font-weight: 500px;
  /* field styles */
}

.InputAddOn-item {
  /* item styles */
}

