

.GameMenu {
  display: flex; 
  justify-content: center;
}

.GameMenuOptions {
  display: flex;
}

.GameOptionContainer {
  display: flex;
  justify-content: space-between;
  width: 325px;
}


.StartButton {
  width: 325px;
  text-shadow: 1px 1px 3px #666666;
  font-family: "myriad-pro";
  color: #ffffff;
  font-size: 2em;
  padding: 10px;
  margin-top: 15px;
  text-decoration: none;
  background: #28a745;
  background-image: -webkit-linear-gradient(top, #28a745, #36ff86);
  background-image: -moz-linear-gradient(top, #28a745, #36ff86);
  background-image: -ms-linear-gradient(top, #28a745, #36ff86);
  background-image: -o-linear-gradient(top, #28a745, #36ff86);
  background-image: linear-gradient(to bottom, #28a745, #36ff86);
}

.StartButton:hover {
  background: #11db6f;
  background-image: -webkit-linear-gradient(top, #11db6f, #0ecc34);
  background-image: -moz-linear-gradient(top, #11db6f, #0ecc34);
  background-image: -ms-linear-gradient(top, #11db6f, #0ecc34);
  background-image: -o-linear-gradient(top, #11db6f, #0ecc34);
  background-image: linear-gradient(to bottom, #11db6f, #0ecc34);
  text-decoration: none;
}