.Game {
  display: flex;
  justify-content: center;
}

.SecretWordContainer {
  display: flex;
  justify-content: center;
}
.SecretWord {
  font-size: 10em;
  letter-spacing: 0.2em;
  display: flex;
  justify-content: center;
}

.UserInterface {
  display: flex;
  justify-content: space-between;
  width: 800px;
}

.RemainingGuessesContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#RemainingGuesses {
  font-size: 10em;
}

.GuessedLettersContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 390px;
}

.InterfaceHeader {
  font-size: 2em;
}

.UserInput {
  display: flex;
  flex-direction: column;
}

.GuessedLetters {
  display: flex;
  flex-wrap: wrap;
}

.GuessedLetters h2 {
  font-size: 2.1em;
  padding: 3px;
  margin: 5px 0px;
}

.InputFormContainer {
  display: flex;
  justify-content: center;
}