

.GameMenu {
  display: flex; 
  justify-content: center;
}

.GameMenuOptions {
  display: flex;
}

.GameForm {
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
}

.GameOptionContainer {
  display: flex;
  justify-content: space-between;
  width: 325px;
}


.StartButton {
  color: #494949 !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin: 25px;
  font-size: 1.6em;

}

.StartButton:hover {
  color: #20bf6b !important;
  border-radius: 50px;
  border-color: #20bf6b;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}