.Game {
  display: flex;
  justify-content: center;
}

.SecretWordContainer {
  display: flex;
  justify-content: center;
}
.SecretWord {
  font-size: 10em;
  letter-spacing: 0.2em;
  margin-bottom: 2rem;
}

.UserInterface {
  display: flex;
  justify-content: space-around;
}

.RemainingGuessesContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#RemainingGuesses {
  font-size: 10em;
}

.GuessedLettersContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 390px;
}

.InterfaceHeader {
  font-size: 2em;
}

.UserInput {
  display: flex;
  flex-direction: column;
}

.GuessedLetters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.GuessedLetters h2 {
  font-size: 2.1em;
  padding: 3px;
  margin: 5px 0px;
}

.InputFormContainer {
  display: flex;
  justify-content: center;
}

.GameEndContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 50px 0px;
}
.GameMessage {
  font-size: 3em;
  padding: 30px 0px;
}

.GameEndContainer button {
  font-size: 1.5em;
  color: #292828 !important;
  text-transform: uppercase;
  text-decoration: none;
  width: 350px;
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.GameEndContainer button:hover {
  color: #ffffff !important;
  background: #f6b93b;
  border-color: #f6b93b !important;
  transition: all 0.4s ease 0s;
}